@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
    --font-base: "DM Sans", sans-serif;
  
    --primary-color: #edf2f8;
    --secondary-color: #313bac;
    --black-color: #030303;
    --lightGray-color: #e4e4e4;
    --gray-color: #6b7688;
    --brown-color: #46364a;
    --white-color: #ffffff;

    /* Dark Mode */
    --dark-primary-color: #030303; 
    --dark-secondary-color: #747b89;
    --dark-black-color: #ffffff; 
    --dark-lightGray-color: #bbc7d9;
    --dark-gray-color: #7a7e80; 
    --dark-brown-color: #46364a;
    --dark-white-color: #424343;

    --navbar-height: 120px;

    --blue-color: #313bac;
  }

 

  .dark-mode {
    --primary-color: var(--dark-primary-color);
    --secondary-color: var(--dark-secondary-color);
    --lightGray-color: var(--dark-lightGray-color);
    --gray-color: var(--dark-gray-color);
    --brown-color: var(--dark-brown-color);
    --white-color: var(--dark-white-color);
    --black-color: var(--dark-black-color)
    /* Adicione mais variáveis conforme necessário para o modo escuro */
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

.d-none {
  display: none;
}

.justify-content-center{
  justify-content: center;
}

.justify-content-between{
  justify-content: center;
}

.align-items-center{
  align-items: center;
}

@media screen and (min-width: 768px) {
  .d-md-flex{
    display: flex;
  }

  .d-md-none{
    display: none;
  }
}
